 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #ffe600;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header a {
            color: #fff;
            text-decoration: none;
            margin-left: 15px;
        }

        @keyframes bouncing {
            0%, 20%, 50%, 80%, 100% {opacity: 0; transform: translateY(0);}
            0% {opacity: 1; transform: translateY(-30px);} 
            50% {opacity: 1; transform: translateY(-30px);}
            100% {opacity: 1; transform: translateY(-30px);}
          }

          @keyframes fadeInLeft {
            from {
              opacity: 0;
              transform: translateX(-200px); /* Starts 50px to the left */
            }
            to {
              opacity: 1;
              transform: translateX(0); /* Ends in the original position */
            }
          }
      
          @keyframes fadeInRight {
            from {
              opacity: 0;
              transform: translateX(200px); /* Starts 50px to the left */
            }
            to {
              opacity: 1;
              transform: translateX(0); /* Ends in the original position */
            }
          }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #ffe600;

        }

        .banner {
            display: flex;
            justify-content: space-between;
            height: 600px;
            width: 100%;
            position: relative;
        }

        .teamfoto {
            background-color: #ddd;
            height: 100%;
            width: 1300px;
            clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
            object-fit: cover;
            position: absolute;
            right:20%;
            opacity: 0;
            animation: fadeInRight 1s ease-out;
            animation-fill-mode: forwards;
        }

        .teamfoto img {
            max-width: 100%;
            height: auto;
        }

        .knotchenBanner {
            width: 600px;
            height: auto;
            position: absolute;
            top: 30%;
            right: 5%;
            opacity: 0;
            animation: fadeInLeft 1s ease-out;
            animation-fill-mode: forwards;
        }

        .knotchenQuote {
            width: 700px;
            height: auto;
            position: absolute;
            top: 70%;
            right: 5%;
            opacity: 0;
            animation: fadeInLeft 1s ease-out;
            animation-fill-mode: forwards;
            animation-delay: 1s;
        }

        .scrollDown {
            color: white;
            background-color: #4c4c4c;
            width: 20%;
            padding: 1%;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-weight: 400;
            font-size: 1rem;
            margin-top: 3%;
            border-radius: 20px;
            display: flex;
            opacity: 0;
            animation: bouncing 6s infinite;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }
        
        .observe-left {
            opacity: 0;
            transform: translateX(-200px);
            transition: all 1s ease;
            animation-fill-mode: forwards;
        }

        .observe-right {
            opacity: 0;
            transform: translateX(200px);
            transition: all 1s ease;
            animation-fill-mode: forwards;
        }
        
        .active {
            opacity: 1;
            transform: translateX(0);
        }

        .news {
            justify-content: center;
            width: 80%;
            height: 600px;
            align-items: center;
            display: flex;
        }

        .newsBanner {
            width: 90%;
            height: auto;
            margin: 5% 10% 5% 10%;
        }

        .socialMedBlk {
            height: 80%;
            width: 100%;
            margin: 0 5% 10% 10%;
            background-color: #a9a9a9;
            display: block;
            border-radius: 20px;
            justify-content: space-between;
        }

        .groupIntro {
            justify-content: center;
            width: 100%;
            height: 70vh;
            display: flex;
        }

        .groupBanner {
            width: 90%;
            height: auto;
            margin: 5% 10% 5% 5%;
            align-self: center;
        }

        .groupIcon {
            margin: 0 10% 10% 10%;
            max-width: 50%;
            height: auto;
            max-height: 100%;
        }

        .groupText {
            height: 60%;
            width: 70%;
            background-color: #4c4c4c;
            color: white;
            border-radius: 10px 0 0 10px;
            margin: 3% 0 10% 0;
            padding: 3%;
            font-size: 24px; 
            text-align: left;
        }

        .otherLinks {
            height: 100vh;
            width: 65%;
            align-self: flex-start;
            background-color:#4c4c4c;
            color: white;
            padding: 5%;
        }

        .otherLinks h1 {
            margin: 0 25% 0 25%;
        }

        .linkCont {
            height: 70vh;
            width: 100%;
            align-self: center;
            margin-left: 5%;
            display: flex;
        }

        .linkBtnCont {
            height: 500px;
            width: 45%;
            align-content: center;
        }

        .linkButton {
            max-width: 70%;
            max-height: 40%;
            margin: 10% 10% 0 10%;
        }

        .linkButton :hover {
            cursor: pointer;
        }

        .banner .text {
            text-align: left;
        }

        .homeText {
            color: #ffe600; 
        }

        .text h1 {
            font-size: 32px;
            color: #333;
        }

        .text p {
            font-size: 18px;
            color: #666;
            margin-top: 10px;
        }

        .subpageBanner {
            max-width: 70%;
            height: auto;
            margin: 2% 0 0 3%;
        }

        .container

        .aboutUsCont {
            width: 100%;
            height: 100%;
            display: flex;
        }

        .charIntroWrap {
            height: 100%;
            width: 45%;
            float: left;
        }

        .charBanner {
            width: 85%;
            height: auto;
            margin: 15% 2% 2% 7%;
            display: none;
        }

        .textBlock {
            width: 80%;
            height: auto;
            margin: 0 2% 2% 9%;
            font-size: 16px;
            display: none;
        }

        .textBlock p {
            margin-bottom: 20px;
        }

        .charClipArt {
            max-width: 20%;
            height: auto;
            margin: 2% 5% 2% 1%;
            float: left;
            opacity: 0;
            animation: fadeInRight 0.3s ease-out;
            animation-fill-mode: forwards;
            display: none;
        }
        
        .otherChar {
            max-width: 25%;
            height: 100%;
            margin: 3% 0 0 0;
            float: right;
        }

        .aboutUsMore {
            max-width: 59%;
            height: auto;
            margin: 3% 0 0 0;
            position: relative;
            float: right;
        }

        .charMenu {
            max-width: 100%;
            height: 65%;
            margin-top: 5%;
            scrollbar-width: 1%;
            position: absolute;
            overflow-y: scroll;
        }

        .charMenu::-webkit-scrollbar {
            display: none;
        }
        

        .charSelected {
            max-width: 90%;
            height: auto;
            margin: 0 0 3% 0;
            float: right;
        }

        .charSelect {
                max-width: 70%;
                height: auto;
                margin-bottom: 3%;
                float: right;
        }

        .charSelect:hover {
            cursor: pointer;
        }


