---
const playbacks = [
  {
    url: "https://www.youtube.com/watch?v=KvR7RDmddIo",
    title: "沼澤人00-普通的車卡回",
  },
  {
    url: "https://www.youtube.com/watch?v=hT4TulaozrA",
    title: "沼澤人01-骰運大起大落",
  },
  {
    url: "https://www.youtube.com/watch?v=5npuf3LZx2g",
    title: "沼澤人02-怪物",
  },
];
---

<div class="otherPlaybacks">
  <h1>更多回放</h1>
  <div class="listOfPlaybacks">
    {
      playbacks.map((item) => (
        <a href={item.url} class="playbacks" target="_blank">
          {item.title}
        </a>
      ))
    }
  </div>
</div>

