* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: auto; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffed4c;
  margin: 0;
  padding: 0;
}

@keyframes bouncing {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(0);
  }
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  50% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .back-to-top-btn {
    bottom: 15px;
    right: 15px;
    padding: 12px 16px;
    font-size: 16px;
  }


}

.lang-switch {
  margin-right: 1%;
}

.back-to-top-btn {
  display: none; 
  position: fixed;
  max-width: 10%;
  max-height: 10%;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  border-radius: 9999px;
  outline: none; 
  cursor: pointer; 
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/*主頁容器*/
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: #ffed4c;
}

/*照片、大字及團體名言區塊的容器*/
.banner {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  position: relative;
}

/*大字旁的團體照*/
.teamfoto {
  background-color: #ddd;
  height: 100%;
  width: 150vh;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  object-fit: cover;
  position: absolute;
  right: 20%;
  opacity: 0;
  animation: fadeInRight 1s ease-out;
  animation-fill-mode: forwards;
}

.teamfoto img {
  max-width: 100%;
  height: auto;
}

/*心結廚房大字*/
.knotchenBanner {
  width: 70vh;
  height: auto;
  position: absolute;
  top: 30%;
  right: 5%;
  opacity: 0;
  animation: fadeInLeft 1s ease-out;
  animation-fill-mode: forwards;
}

/*心結廚房格言*/
.knotchenQuote {
  width: 70vh;
  height: auto;
  position: absolute;
  top: 70%;
  right: 5%;
  opacity: 0;
  animation: fadeInLeft 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

/*往下滑，不然心結你喔:3*/
.scrollDown {
  color: white;
  background-color: #4c4c4c;
  width: 20%;
  padding: 1%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 3%;
  border-radius: 20px;
  display: flex;
  opacity: 0;
  animation: bouncing 6s infinite;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/*滑到哪加載到哪，從左邊飛來*/
.observe-left {
  transform: translateX(-200px);
  transition: all 1s ease;
  animation-fill-mode: forwards;
}

/*滑到哪加載到哪，從右邊飛來*/
.observe-right {
  opacity: 0;
  transform: translateX(200px);
  transition: all 1s ease;
  animation-fill-mode: forwards;
}

/*滑到的部分*/
.active {
  opacity: 1;
  transform: translateX(0);
}

/*最新資訊標題*/
.newsBanner {
  width: 80%;
  height: auto;
  margin: 10% 10% 5% 10%;
}

/*放社群媒體塊塊的地方*/
.news {
  display: flex; 
  justify-content: center; 
  justify-self: center;
  align-items: center;
  margin-left: 30%;
  width: 80%; 
  height: 80%; 
}

/*社群媒體外接動態塊塊*/
.socialMedBlk {
  margin-right: 5%;
  height: 80%; 
  width: 80%;
}

/*團體介紹標題*/
.groupBanner {
  width: 80%;
  height: auto;
  margin: 5% 10% 5% 5%;
  align-self: center;
}

/*團體介紹區塊*/
.groupIntro {
  justify-content: center;
  width: 100%;
  height: 70vh;
  display: flex;
}

/*心結廚房logo*/
.groupIcon {
  margin: 5% 5% 10% 5%;
  max-width: 60%;
  max-height: 60%;
}

/*團體文字介紹*/
.groupText {
  max-height: 70%;
  max-width: 50%;
  background-color: #4c4c4c;
  color: white;
  border-radius: 10px;
  margin: 3% 0 5% 0;
  padding: 3%;
  font-size: 1.2rem;
  text-align: left;
  overflow: scroll;
}

.groupText::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
} 

.otherCont {
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*其他連結區塊*/
.otherLinks {
  height: 100%;
  width: 65%;
  align-self: flex-start;
  background-color: #4c4c4c;
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.otherLinks h1 {
  margin: 0 25% 0 25%;
}

/*放按鈕容器的地方*/
.linkCont {
  height: 70%;
  width: 100%;
  align-self: center;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}


/*放按鈕的地方共左右兩塊*/
.linkBtnCont {
  height: 70%;
  width: 45%;
  align-content: center;
  flex-basis: 45%;
  flex-grow: 1;
  flex-shrink: 0;
}

/*連結按鈕*/
.linkButton {
  width: 60%;
  height: auto;
  margin: 10% 10% 0 10%;
  flex-shrink: 1;
  flex-grow: 1;
}

.linkButton:hover {
  transition: transform 1s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.footerImg {
  height: 100%;
  max-width: 50%;
  object-fit: contain;
  align-self: flex-end;
  flex-shrink: 1;
  flex-grow: 1;
}

.banner .text {
  text-align: left;
}

.homeText {
  color: #ffe600;
}

.text h1 {
  font-size: 32px;
  color: #333;
}

.text p {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

/*分頁上的廚房標題+分頁標題*/
.subpageBanner {
  max-width: 20%;
  height: auto;
  margin: 1% 0 0 3%;
}

/*標題以下的容器區塊*/
.pageCont {
  width: 100%;
  max-height: 75dvh;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.pageCont-universe {
  width: 100%;
  max-height: 75dvh;
  display: flex;
  position: relative;
}

/*團員標題及文字區塊*/
.charIntroWrap {
  height: auto;
  width: 70%;
  float: left;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeInRight 0.3s ease-out;
  animation-fill-mode: forwards;
  position: relative;
}

/*團員標題*/
.charBanner {
  width: 80%;
  height: auto;
  margin: 15% 2% 5% 7%;
  display: none;
}

/*團員文字介紹*/
.textBlock {
  width: 80%;
  height: auto;
  margin: 0 2% 2% 9%;
  font-size: 16px;
  display: none;
}

.textBlock p {
  margin-bottom: 20px;
}

/*立繪容器*/
.clipArtCnt {
  height: auto;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*立繪*/
.charClipArt {
  max-width: 70%;
  height: auto;
  opacity: 0;
  animation: fadeInRight 0.3s ease-out;
  animation-fill-mode: forwards;
  display: none;
}

/*團員一覽區塊*/
.otherChar {
  max-width: 25%;
  height: 100%;
  display: grid;
  opacity: 0;
  animation: fadeInRight 0.3s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

/*團員一覽字樣*/
.aboutUsMore {
  width: 30%;
  height: auto;
  display: flex;
  float: right;
  justify-self: end;
  margin-right: 10%;
  margin-bottom: 10%;
}

/*團員列表*/
.aboutUsMenu {
  width: 100%;
  height: 60vh;
  display: flex;
  position: relative;
  overflow-y: scroll;
}

/*放置團員獨立按鈕的容器*/
.charMenu {
  width: 100%;
  height: 70vh;
  margin-left: 30%;
  flex-direction: column;
}

.aboutUsMenu::-webkit-scrollbar {
  display: none;
}

/*團員按鈕-選中*/
.charSelected {
  max-width: 100%;
  height: auto;
  margin: 0 0 3% 0;
  float: right;
}

/*團員按鈕-預設*/
.charSelect {
  max-width: 80%;
  height: auto;
  margin-bottom: 3%;
  float: right;
}

.charSelect:hover {
  cursor: pointer;
}

#MaInNo {
  display: block;
}

.knowMeMore {
  margin-top: 10%;
  width: 70%;
  height: auto;
}

.trpgCont {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
 }

 /*跑團即心結圖片區塊*/
.trpg-des-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/*跑團即心結圖片介紹*/
.trpgSlogan {
    width: 80%;
    opacity: 0;
    animation: fadeInUp 0.5s;
    animation-fill-mode: forwards;
}

/*回放區塊*/
.trpgWrap {
    height: 130vh;
    width: 70%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.trpgWrap > a {
  display: block;
  width: 40%; 
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

/*回放影片縮圖*/
.videoThumbnail {
    width: 60%;
    margin: 5% auto 0 auto;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

/*開始播放按鈕*/
.playButton {
    width: 100%;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/*回放列表標題*/
.otherPlaybacks {
    margin-top: 10%;
    max-width: 20%;
    opacity: 0;
    align-items: flex-start;
    animation: fadeInRight 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.otherPlaybacksEng {
    margin-top: 10%;
    max-width: 40%;
    opacity: 0;
    align-items: flex-start;
    animation: fadeInRight 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.playbackCont{
    height:50vh;
    width: 90%;
    margin: 5%;
    background-color: #494949;
    border-radius: 10px;
    overflow: scroll;
    &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    }
    padding: 10px;
    opacity: 0;
    animation: fadeInRight 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    row-gap: 15px;
}

.playbackCont a {
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.playbackCont a img {
    max-width: 100%;
    height: auto;
    display: block;
}

.playbackCont a .vidTitle {
  font-size: 1.2em;
  text-align: center;
  margin: 0; 
  padding: 0;
}

.gamesBackground {
  width: 80%;
  max-height: 550vh;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: -1;
  object-fit: cover;
}

.gamesCont {
  width: 100%;
  height: auto;
  margin: 5% 15% 0 15%;
  overflow: visible;
  position: relative;
  padding: 20px; 
}

.gamesCoverImg {
  width: 100%;
  height: 50%;
  margin: 5% 0 0 0;
  align-self: center;
  justify-self: center;
  overflow: visible;
  position: relative;
}

.gameReplayBox {
  width: 90%;
  height: 30%;
  margin: 5% 15% 0 15%;
  align-self: center;
  justify-self: center;
  overflow: visible;
  position: relative;
  padding: 20px; 
}

.replayBanner {
  width: 100%;
  height: auto;
  margin-right: 10%;
  margin-bottom: 5%;
  grid-area: content-overlay; 
  justify-self: center;
  align-self: center;
  z-index: 1;
  display: block; 
}

.gamesReplayCont{
  position: absolute; 
  top: 25%;
  left: 10%;
  width: 80%; 
  height: 50%;
  padding: 10px; 
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 8px; 
  z-index: 2;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  gap: 15px; 
  overflow-y: scroll; 
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.toBeUploaded {
  margin: 5% 15% 5% 15%;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.monthlyCont {
  width: 100%;
  height: auto;
  margin: 5% 15% 0 15%;
  padding: 20px; 
  flex-direction: column;
}

.monthlyTitle {
  max-width: 70%;
  max-height: auto;
  margin: 3% 15% 5% 15%;
  justify-self: center;
  align-self: center;
}

.monthlyGameBanner {
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 0;
  align-self: center;
}

.monthlyGamePic{
  max-width: 80%;
  height: auto;
  margin: 0 10% 5% 10%;
  justify-self: center;
  align-self: center;
}

.monthlyEventBanner {
  width: 80%;
  height: auto;
  margin: 5% 10% 5% 10%;
  align-self: center;
}

.eventsCont {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; 
  display: flex;
}

.eventsBlk {
  margin: 3%;
  width: 45%;
}

.chefsMonthly {
  width: 40%;
  height: auto;
  margin: 0 40% 5% 10%;
}

.chefsBlog {
  width: 80%;
  height: 80%;
  margin: 0 10% 5% 10%;
  align-self: center;
  background-color: green;
}

.contactsCont {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; 
  display: flex;
}

.contactsBlk {
 width: 30%;
 margin: 3%;
}

.universeLinkButton {
  width: 40%;
  height: auto;
  margin-top: 5%;
}

.universeBanner {
  width: 50%;
  height: auto;
  margin: 1% 0 0 3%;
}

.coverPage {
  width: 50%;
  max-height: 30%;
  opacity: 0;
  animation: fadeInDown 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1.7s;
  mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.comicBtn {
  width: 70%;
  opacity: 0;
  animation: fadeInLeft 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.otherBtn {
  width: 50%;  
  margin-top: 5%;
  opacity: 0;
  animation: fadeInLeft 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}