---
import Layout from "../../layouts/Layout.astro";
import {ui} from '../../i18n/ui';

const t = (key: keyof (typeof ui)['en']) => ui['en'][key];
---

<Layout title="Contact Us">
  <img class="subpageBanner" src="/contactsBanner-Eng.png" />
  <div class="pageCont">
    <div class="contactsCont">
      <img class="contactsBlk" src="/contact-blk.png" />
      <img class="contactsBlk" src="/contact-blk.png" />
      <img class="contactsBlk" src="/contact-blk.png" />
    </div>
  </div>
</Layout>
