---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';

const chefsURL = getRelativeLocaleUrl("en", "chefs");
const trpgURL = getRelativeLocaleUrl("en", "trpg-records");
const gamesURL = getRelativeLocaleUrl("en", "games");
---

<html lang="en">
<Layout title="Home Page" showFooter={false}>
  <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v22.0"></script>
  <div class="content">
    <div class="banner">
      <img class="teamfoto" src="/team-foto.png" alt="Team photo" />
      <img class="knotchenBanner" src="/knotchenBanner-Eng.png" alt="Knotchen" />
      <img class="knotchenQuote" src="/knotchenQuote-Eng.png" alt="Knotchen Quotes" />
    </div>

    <div class="scrollDown">Scroll for more! ⭣</div>

    <img
      class="newsBanner observe-left"
      src="/knotchenNews-Eng.png"
      alt="News"
    />

    <div class="news observe-left">
      <div class="socialMedBlk observe-left"><div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61574492781953" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
      <div class="socialMedBlk observe-left"><div class="fb-page" data-href="https://www.facebook.com/pikapikachu2022" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
      </div>
    </div>

    <img
      class="groupBanner observe-right"
      src="/knotchenGroup-Eng.png"
      alt="團體介紹"
    />

    <div class="groupIntro">
      <img class="groupIcon observe-left" src="/circle-icon.png" />
      <div class="groupText observe-left">
      <p>Ever seen a team start beef just by gaming?</p>
      <h4>Yep—that's us!</h4>
      <p>Back in 2018, we were just a group of gamers. With little beefs popping up 
        all the time, we ended uo calling ourselves "Beef Factory". Members came and went 
        so often that people joked it was basically a home kitchen, so the we rebranded ourselves
        with the slogan: "Beef Factory is not your kitchen, stop barging in."</p>
        <p>By 2020, the crew finally agreed on one name: Knotchen.</p>

        <p>Our honourable "Chefs", or proudly referring them as "Beef Cookers" are a chaotic mix—
          if we don't click, we beef! Think of us as a pot of random ingredients ready to explode anytime. 
          The menu? Always games, art, and daily fun. Seasonal specials? TRPGs, crossover role-play worlds, 
          even a full multiverse. And sometimes, the “Beef Express Food Truck” delivers a whole mess to our
          very important customers.</p>
        <h4>You ready for order? Keep scrolling!</h4>
      </div>
    </div>

    <div class="otherCont">
     <div class="otherLinks observer-left">
      <h1>Get to Know More About Us</h1>
      <div class="linkCont">
        <div class="linkBtnCont">
          <a href="/en/monthly-recipes">
            <img class="linkButton" src="/monthlyLink-Eng.png" />
          </a>
          <a href="/en/chefs">
            <img class="linkButton" src="/aboutUsLink-Eng.png" />
          </a>
          <a href="/en/trpg-records">
            <img class="linkButton" src="/trpgLink-Eng.png" />
          </a>
        </div>
        <div class="linkBtnCont">
          <a href="/en/games">
            <img class="linkButton" src="/gamesLink-Eng.png" />
          </a>
          <a href="/en/kitchen-universe">
            <img class="linkButton" src="/creationsLink-Eng.png" />
          </a>
          <a href="/en/contact">
            <img class="linkButton" src="/contactsLink-Eng.png" />
          </a>
        </div>
      </div>
      <p>@Knotchen 2025</p>
    </div>
    <img class="footerImg" src="/team-foto-2.png">
    </div>
    </div>
  </div>
    <img id="backToTopBtn" class="back-to-top-btn" title="Go to top" src="/back-to-top-btn.png"/>
</Layout>
</html>