---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <img class="subpageBanner" src="aboutUsBanner.png" />
  <div class="pageCont">
    <div class="charIntroWrap">
      <img class="charBanner" id="MaInNo" src="MaInNo-banner.png" />
      <div class="textBlock" id="MaInNo">
        <p>
          熱愛遊戲的普通人，在Youtuber爆紅的時代開始接觸網絡，並以成為一名遊戲實況主為夢想，召集身邊的各路好友組成了娛樂團體
          ‘心結廚房’。有傳聞指泡麵是整個廚房打遊戲最強的骨灰級玩家，在影格戰鬥中頗有修為。
        </p>
        <p>
          實力是群龍之首卻不傾向成為群體領袖，導致了廚房特殊的無政府狀態。但是在泡麵的愛心澆灌下，成員們總能在心結中和諧共處。
        </p>
      </div>

      <img class="charBanner" id="grass" src="grass-banner.png" />
      <div class="textBlock" id="grass">
        <p>
          一名大學工程師，路邊的一株草，廚房御用的工程師，作息及睡眠時數永遠是一個迷，幾乎24小時都能看到雜草的discord在線。受到邀請加入
          ‘心結廚房’，並展開了另一段被勞役的肝健康生活。
        </p>
        <p>
          現正攻讀AI詠唱魔法專員的學位，有著把人類都變成馬鈴薯，日常工作全交給機器人處理的野心。總喜歡將自己各種奇奇怪怪的發明引入廚房，造成廚房爆炸危機。
        </p>
      </div>

      <img class="charBanner" id="dobird" src="dobird-banner.png" />
      <div class="textBlock" id="dobird">
        <p>
          代號
          ‘渡鳥’，穿梭在網絡世界的數碼刺客。熱愛跑酷、畫圖、建模等養肝活動，除了會進行網絡刺殺活動外，亦有指揮軍事防守行動的經驗。在等待畢業期間被友人拐進了
          ‘心結廚房’，成為了一名新手遊戲直播主。
        </p>
        <p>
          高端的食材往往需要樸素的料理方法。作為心結廚房的下鍋第一名，渡鳥極力讓自己成為瀕危物種以免遭殃，但面對台灣人感人的保育意識似乎並不起效，還是很愛有人喊讓她下鍋。至此，瀕危物種的反擊戰即將開打...
        </p>
      </div>

      <img class="charBanner" id="honey" src="honey-banner.png" />
      <div class="textBlock" id="honey">
        <p>
          出身不明，來歷不明的擬態生物，以 ‘幽靈貓’
          自居生活在城市裡的神秘少女，為了賺外快加入了
          ‘心結廚房’。基於自身散發出的不穩定磁場，每次直播時麥克風都總是很炸，因而成為直播中的個人特色。
        </p>
        <p>
          熱愛TRPG，誓言要把骰子機器人娶回家。作為一隻幽靈貓，鬼點子特別多，然而是挖坑小能手，想到一出是一出，完美發揮出三分鐘熱度的本性，不愧是貓咪。
        </p>
      </div>

      <img class="charBanner" id="zeroOne" src="zeroOne-banner.png" />
      <div class="textBlock" id="zeroOne">
        <p>
          （謎之聲：為了讓自己看起來不像是個突兀的錯誤代碼，所以本人希望用正體，但是還是可以叫他01。）現居台灣的普通打工人，身體素質絕佳的年輕男子，年紀輕輕卻有著阿公的靈魂。泡麵的大學室友，輾轉加入了
          ‘心結廚房’ ，作為一名DM及實況主活躍在其中。
        </p>
        <p>
          踐行 ‘開拓’
          之道，樂於與不同的人建立關係。全廚房生活習慣最為健康的成員，在團體中擔任正能量大使，為大家在心結生活中帶來多一點人情味。
        </p>
        <p>“已經沒關係了，因為我來了！這發心結我來扛！！”</p>
      </div>

      <img class="charBanner" id="karlos" src="karlos-banner.png" />
      <div class="textBlock" id="karlos">
        <p>
          號外！廚房居然出現了傳說中的黑衣劍士？！左手的刀用來斬生肉，右手的刀用來處理熟肉...正是廚師之一的卡卡，颯爽登場！人生格言正是
          ‘快一點，再快一點’
          的衝動型玩家，可想而知能為廚房帶來不一樣的火花跟歡樂。
        </p>
        <p>
          自詡廚房中的為大家帶來歡樂的低能兒，卻比任何人都要努力的熱血騷年，目前在TRPG及RP區塊中相當活躍，也是一名老練的魔物獵人。
        </p>
      </div>

      <img class="charBanner" id="skye" src="skye-banner.png" />
      <div class="textBlock" id="skye">
        <p>
          “蛤？廚房又有心結又有人受傷需要聊聊了喔？”
          “怎了，又有好看的RP劇情想要我漫畫化嗎？”
          接委託不問價錢，挖坑沒有半點猶豫的自由傭兵，沒有她做不到的，只要她想不到要做的！
        </p>
        <p>
          活躍於廚房RP及角色創作區塊，將創作視為對平行世界的觀察，喜歡記錄角色的世界記錄員。不常在實況出現，卻總會告訴大家自己又收了哪款老遊戲的模擬器改版。
        </p>
      </div>

      <img class="charBanner" id="jkiol" src="jkiol-banner.png" />
      <div class="textBlock" id="jkiol">
        <p>
          真正的混亂中立廚房老么，來自異空間的貓耳少年（？），神出鬼沒，沒事會用各種怪奇點子讓你的生活增添刺激。加入廚房的動機不明，但相信不會有人拒絕這位愛搞事搞氣氛的貓咪。
        </p>
        <p>
          偶然會跟廚房一起在遊戲世界中跑酷，也在會圍攻行動中用各種花式以及網絡延遲把大家耍得團團轉，不過聽說他還有別的秘密...？
        </p>
      </div>
    </div>

    <div class="clipArtCtn">
      <img class="charClipArt" id="MaInNo" src="MaInNo-Clipart.png" />
      <img class="charClipArt" id="grass" src="grass-clipart.png" />
      <img class="charClipArt" id="dobird" src="dobird-clipart.png" />
      <img class="charClipArt" id="honey" src="honey-clipart.png" />
      <img class="charClipArt" id="zeroOne" src="zeroOne-clipart.png" />
      <img class="charClipArt" id="karlos" src="karlos-clipart.png" />
      <img class="charClipArt" id="skye" src="skye-clipart.png" />
      <img class="charClipArt" id="jkiol" src="deafultClipArt.png" />
    </div>

    <div class="otherChar">
      <img class="aboutUsMore" src="aboutUsMore.png" />
      <div class="aboutUsMenu">
        <div class="charMenu">
          <img class="charSelect" id="MaInNoBtn" src="MaInNo-chosen.png" />
          <img class="charSelect" id="grassBtn" src="grass-default.png" />
          <img class="charSelect" id="dobirdBtn" src="dobird-default.png" />
          <img class="charSelect" id="honeyBtn" src="honey-default.png" />
          <img class="charSelect" id="zeroOneBtn" src="zeroOne-default.png" />
          <img class="charSelect" id="karlosBtn" src="karlos-default.png" />
          <img class="charSelect" id="skyeBtn" src="skye-default.png" />
          <img class="charSelect" id="jkiolBtn" src="jkiol-default.png" />
        </div>
      </div>
    </div>
    <div class="bottom">@心結廚房2025</div>
  </div>
</Layout>
