---
import Layout from "../layouts/Layout.astro";
import ChefsList from "../components/pages/chefs/ChefsList.astro";
import {ui} from '../i18n/ui';

const t = (key: keyof (typeof ui)['zh-Hant']) => ui['zh-Hant'][key];

---

<Layout title={t('nav.chefs')} t="{t}" showfooter={false}>
  <img class="subpageBanner" src="/aboutUsBanner.png" />
  <div class="pageCont-aboutUs">
    <div class="charIntroWrap">
      <img class="charBanner" id="MaInNo" src="/MaInNo-banner.png" />
      <img class="clipart-responsive" id="MaInNo" src="/MaInNo-clipart.png" />
      <div class="textBlock" id="MaInNo">
        <p> {t('MaInNo-intro')}</p>
        <p> {t('MainNo-intro-2')}</p>
        <img class="knowMeMore" id="MaInNo" src="/test-intro-block.png" />
      </div>

      <img class="charBanner" id="grass" src="/grass-banner.png" />
      <img class="clipart-responsive" id="grass" src="/grass-clipart.png" />
      <div class="textBlock" id="grass">
        <p> {t('grass-intro')} </p>
        <p> {t('grass-intro-2')} </p>
        <a href="">
          <img class="knowMeMore" id="grass" src="/test-intro-grass.png" />
        </a>
      </div>

      <img class="charBanner" id="dobird" src="/dobird-banner.png" />
      <img class="clipart-responsive" id="dobird" src="/dobird-clipart.png" />
      <div class="textBlock" id="dobird">
        <p> {t('dobird-intro')}</p>
        <p> {t('dobird-intro-2')}</p>
        <img class="knowMeMore" id="dobird" src="/test-intro-bird.png" />
      </div>

      <img class="charBanner" id="honey" src="/honey-banner.png" />
      <img class="clipart-responsive" id="honey" src="/honey-clipart.png" />
      <div class="textBlock" id="honey">
        <p>{t('honey-intro')}</p>
        <p>{t('honey-intro-2')}</p>
      </div>

      <img class="charBanner" id="zeroOne" src="/zeroOne-banner.png" />
      <img class="clipart-responsive" id="zeroOne" src="/zeroOne-clipart.png" />
      <div class="textBlock" id="zeroOne">
        <p> {t('zeroOne-intro')} </p>
        <p> {t('zeroOne-intro-2')} </p>
        <p> {t('zeroOne-intro-3')} </p>
      </div>

      <img class="charBanner" id="karlos" src="/karlos-banner.png" />
      <img class="clipart-responsive" id="karlos" src="/karlos-clipart.png" />
      <div class="textBlock" id="karlos">
        <p> {t('karlos-intro')} </p>
        <p> {t('karlos-intro-2')} </p>
      </div>

      <img class="charBanner" id="skye" src="/skye-banner.png" />
      <img class="clipart-responsive" id="skye" src="/skye-clipart.png" />
      <div class="textBlock" id="skye">
        <p> {t('skye-intro')} </p>
        <p> {t('skye-intro-2')} </p>
      </div>

      <img class="charBanner" id="jkiol" src="/jkiol-banner.png" />
      <img class="clipart-responsive" id="jkiol" src="/jkiol-clipart.png" />
      <div class="textBlock" id="jkiol">
        <p> {t('jkiol-intro')} </p>
        <p> {t('jkiol-intro-2')} </p>
      </div>

      <img class="charBanner" id="miyar" src="/miyar-banner.png" />
      <img class="clipart-responsive" id="miyar" src="/miyar-clipart.png" />
      <div class="textBlock" id="miyar">
        <p> {t('miyar-intro')} </p>
        <p> {t('miyar-intro-2')} </p>
      </div>

      <img class="charBanner" id="lucy" src="/lucy-banner.png" />
      <img class="clipart-responsive" id="lucy" src="/lucy-clipart.png" />
      <div class="textBlock" id="lucy">
        <p> {t('lucy-intro')} </p>
        <p> {t('lucy-intro-2')} </p>
      </div>
    </div>

    <div class="clipArtCtn">
      <img class="charClipArt" id="MaInNo" src="/MaInNo-clipart.png" />
      <img class="charClipArt" id="grass" src="/grass-clipart.png" />
      <img class="charClipArt" id="dobird" src="/dobird-clipart.png" />
      <img class="charClipArt" id="honey" src="/honey-clipart.png" />
      <img class="charClipArt" id="miyar" src="/miyar-clipart.png" />
      <img class="charClipArt" id="zeroOne" src="/zeroOne-clipart.png" />
      <img class="charClipArt" id="karlos" src="/karlos-clipart.png" />
      <img class="charClipArt" id="skye" src="/skye-clipart.png" />
      <img class="charClipArt" id="jkiol" src="/jkiol-clipart.png" />
      <img class="charClipArt" id="lucy" src="/lucy-clipart.png" />
    </div>

    <ChefsList />
  </div>
</Layout>
