---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v22.0"></script>
  <div class="content">
    <div class="banner">
      <img class="teamfoto" src="/placeholder.png" alt="我是酷炫圖片" />
      <img class="knotchenBanner" src="/knotchenBanner.png" alt="心結廚房" />
      <img class="knotchenQuote" src="/knotchenQuote.png" alt="我們好幫幫" />
    </div>

    <div class="scrollDown">往下滑，不然心結你喔:3 ⭣</div>

    <img
      class="newsBanner observe-left"
      src="/knotchenNews.png"
      alt="最新資訊"
    />

    <div class="news">
      <div class="socialMedBlk observe-left"><div class="fb-page" data-href="https://www.facebook.com/HonkaiStarRail" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
      <div class="socialMedBlk observe-left"><div class="fb-page" data-href="https://www.facebook.com/pikapikachu2022" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
      </div>
    </div>

    <img
      class="groupBanner observe-right"
      src="/knotchenGroup.png"
      alt="團體介紹"
    />

    <div class="groupIntro">
      <img class="groupIcon observe-left" src="/circle-icon.png" />
      <div class="groupText observe-right">
        在2018年，一群來自台灣，
        充滿夢想跟心結的厭世仔決定以娛樂團體作為副業，當個YT遊戲直播主，
        後來輾轉接觸到TRPG類遊戲，更出現了個人創作大集燴的RP世界，
        現在的廚房已轉型成創作者群體。當然，打遊戲還是首要業務。
      </div>
    </div>

    <div class="otherLinks observe-right">
      <h1>快點來認識我們，趕緊的！</h1>
      <div class="linkCont">
        <div class="linkBtnCont">
          <a href="/monthly-recipes">
            <img class="linkButton" src="/monthlyLink.png" />
          </a>
          <a href="/chefs">
            <img class="linkButton" src="/aboutUsLink.png" />
          </a>
          <a href="/trpg-records">
            <img class="linkButton" src="/trpgLink.png" />
          </a>
        </div>
        <div class="linkBtnCont">
          <a href="/games">
            <img class="linkButton" src="/gamesLink.png" />
          </a>
          <a href="/kitchen-universe">
            <img class="linkButton" src="/creationsLink.png" />
          </a>
          <a href="/contact">
            <img class="linkButton" src="/contactsLink.png" />
          </a>
        </div>
      </div>
      <p>@心結廚房2025 | 特別感謝渡鳥的貢獻</p>
    </div>
  </div>
</Layout>
