---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

---

<Layout title="Home Page" showFooter={false}>
  <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v22.0"></script>
  <div class="content">
    <div class="banner">
      <img class="teamfoto" src="/team-foto.png" alt="我是酷炫圖片" />
      <img class="knotchenBanner" src="/knotchenBanner.png" alt="心結廚房" />
      <img class="knotchenQuote" src="/knotchenQuote.png" alt="我們好幫幫" />
    </div>

    <div class="scrollDown">往下滑，不然心結你喔:3 ⭣</div>

    <img
      class="newsBanner observe-left"
      src="/knotchenNews.png"
      alt="最新資訊"
    />

    <div class="news observe-left">
      <div class="socialMedBlk">
        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61574492781953" data-tabs="timeline" data-width="700" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
      </div>
      <div class="socialMedBlk">
        <div class="fb-page" data-href="https://www.facebook.com/pikapikachu2022" data-tabs="timeline" data-width="700" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
      </div>
    </div>

    <img
      class="groupBanner observe-right"
      src="/knotchenGroup.png"
      alt="團體介紹"
    />

    <div class="groupIntro">
      <img class="groupIcon observe-left" src="/circle-icon.png" />
      <div class="groupText observe-left">
        <p>你有見過打遊戲打出心結的團隊嗎？</p>
        <h4>對的，就是我們！</h4>
        <p>在2018年，本來只是專門打遊戲的群組，因為各種心結紛爭不斷衍生取名叫
        「YEEE心結廠」，又因群組成員不斷增增減減，大家笑稱根本是自家後廚，
        群組名稱一度改名叫「YEEE心結廠不是你家廚房，請勿七進七出十四入。」
        於2020年時，現任廚房成員一致通過統稱為「心結廚房」，爾後，
        團體名稱正式成立。</p>

        <p>廚房的廚師組成皆志同道合，秉持著若不合就心結的原則，
          像是一鍋不定時爆炸混合物；各廚師熱愛料理各種不同內容，
          餐廳常駐菜單：「遊戲、繪畫、日常分享」，
          季節性菜單：「TRPG類、各自世界觀交雜在一起的RP大廳、廚房的多重宇宙」，
          色香味俱全；不時有「心結特快餐車」衝撞外送其他客人。</p>
          <h4>還沒吃到餐過嗎？那就趕緊下滑！</h4>
      </div>
    </div>

    <div class="otherCont">
     <div class="otherLinks observer-left">
      <h2>點擊以下鏈接，開始點菜！</h2>
      <div class="linkCont">
        <div class="linkBtnCont">
          <a href="/monthly-recipes">
            <img class="linkButton" src="/monthlyLink.png" />
          </a>
          <a href="/chefs">
            <img class="linkButton" src="/aboutUsLink.png" />
          </a>
          <a href="/trpg-records">
            <img class="linkButton" src="/trpgLink.png" />
          </a>
        </div>
        <div class="linkBtnCont">
          <a href="/games">
            <img class="linkButton" src="/gamesLink.png" />
          </a>
          <a href="/kitchen-universe">
            <img class="linkButton" src="/creationsLink.png" />
          </a>
          <a href="/contact">
            <img class="linkButton" src="/contactsLink.png" />
          </a>
        </div>
      </div>
      <p>@心結廚房2025 | 特別感謝渡鳥的貢獻</p>
    </div>
    <img class="footerImg" src="/team-foto-2.png">
    </div>
    </div>
  </div>
    <img id="backToTopBtn" class="back-to-top-btn" title="Go to top" src="back-to-top-btn.png"/>
</Layout>
