---
import Layout from "../layouts/Layout.astro";
import {ui} from '../i18n/ui';

const t = (key: keyof (typeof ui)['zh-Hant']) => ui['zh-Hant'][key];
---

<Layout title="Monthly Recipes" t="{t}">
  <img class="subpageBanner" src="/monthlyBanner.png" />
  <div class="pageCont">
    <div class="monthlyCont">
      <img class="monthlyTitle" src="/monthly-games.png" />
      <img class="monthlyGamePic" src="/monthly-games-pic.png"/>
      <p style="margin-left: 80%">本月畫師：彌亞</p>
      <img class="monthlyEventBanner" src="/monthly-event.png"/>
      <div class="eventsCont">
        <img class="eventsBlk" src="/event-box.png"/>
        <img class="eventsBlk" src="/event-box.png"/>
      </div>
    </div>
  </div>
</Layout>

