---
import Layout from "../layouts/Layout.astro";

const playbacks = [
  {
    url: "https://www.youtube.com/watch?v=KvR7RDmddIo",
    title: "沼澤人00-普通的車卡回",
  },
  {
    url: "https://www.youtube.com/watch?v=hT4TulaozrA",
    title: "沼澤人01-骰運大起大落",
  },
  {
    url: "https://www.youtube.com/watch?v=5npuf3LZx2g",
    title: "沼澤人02-怪物",
  },
];
---

<Layout>
  <img class="subpageBanner" src="trpgBanner.png" />
  <div class="pageCont">
    <div class="trpg-des-wrap">
      <img class="trpgSlogan" src="trpgSlogan.png" />
    </div>
    <div class="trpgWrap">
      <img class="trpgName" src="coc-series-banner.png" />
      <img class="videoThumbnail" src="coc-video-thumbnail.png" />
      <img class="lastestEp" src="latest-ep.png" />
      <a href="https://www.youtube.com/watch?v=hT4TulaozrA" target="_blank"
        ><img class="playButton" src="play-video.png" /></a
      >
    </div>

    <div class="otherPlaybacks">
      <h1>更多回放</h1>
      <div class="listOfPlaybacks">
        {
          playbacks.map((item) => (
            <a href={item.url} class="playbacks" target="_blank">
              {item.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  /*跑團即心結圖片區塊*/
  .trpg-des-wrap {
    width: 40%;
    height: auto;
    float: left;
    padding: 3%;
  }

  /*跑團即心結圖片介紹*/
  .trpgSlogan {
    width: 80%;
    margin-left: 5%;
    opacity: 0;
    animation: fadeInUp 0.5s;
    animation-fill-mode: forwards;
  }

  /*回放區塊*/
  .trpgWrap {
    width: 50%;
    height: 70vh;
    float: left;
  }

  /*系統及劇本名稱*/
  .trpgName {
    width: 60%;
    height: auto;
    align-self: center;
    margin: 5% 0 0 5%;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
  }

  /*回放影片縮圖*/
  .videoThumbnail {
    width: 60%;
    margin: 5% 5% 0 10%;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  /*最新集數*/
  .lastestEp {
    width: 65%;
    margin: 5% 5% 0 10%;
    position: relative;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  /*開始播放按鈕*/
  .playButton {
    width: 20%;
    margin: 5% 0 10% -10%;
    position: absolute;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  .playButton:hover {
    transition: transform 1s ease;
    transform: scale(1.2);
  }

  /*其他回放列表區塊*/
  .otherPlaybacks {
    width: 20%;
    height: 70vh;
    background-color: #4c4c4c;
    margin-left: 5%;
    border-radius: 20px 0 0 20px;
    text-align: center;
    color: white;
    padding: 1%;
    opacity: 0;
    animation: fadeInRight 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  .otherPlaybacks h1 {
    font-weight: bold;
    margin-bottom: 10%;
    overflow-y: scroll;
  }

  /*影片列表*/
  .listOfPlaybacks {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 5%;
  }

  .otherPlaybacks ::-webkit-scrollbar {
    display: none;
  }

  /*影片鏈接*/
  .playbacks {
    display: block;
    margin-top: 5%;
    padding: 3%;
    background-color: #fffc4c;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  }
</style>
