---
import Layout from "../layouts/Layout.astro";

import PlayBackList from "../components/pages/trpg-records/PlayBackList.astro";
---

<Layout title="TRPG Records">
  <img class="subpageBanner" src="/trpgBanner.png" />
  <div class="pageCont">
    <div class="trpg-des-wrap">
      <img class="trpgSlogan" src="/trpgSlogan.png" />
    </div>
    <div class="trpgWrap">
      <img class="trpgName" src="/coc-series-banner.png" />
      <img class="videoThumbnail" src="/coc-video-thumbnail.png" />
      <img class="lastestEp" src="/latest-ep.png" />
      <a href="https://www.youtube.com/watch?v=hT4TulaozrA" target="_blank"
        ><img class="playButton" src="/play-video.png" /></a
      >
    </div>
    <PlayBackList />
  </div>
</Layout>

