---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <img class="subpageBanner" src="trpgBanner.png" />
  <div class="pageCont">
    <div class="trpgDesWrap">
      <img class="trpgSlogan" src="trpgSlogan.png" />
    </div>
    <div class="trpgWrap">
      <img class="trpgName" src="coc-series-banner.png" />
      <img class="videoThumbnail" src="coc-video-thumbnail.png" />
      <img class="lastestEp" src="latest-ep.png" />
      <a href="https://www.youtube.com/watch?v=hT4TulaozrA" target="_blank"
        ><img class="playButton" src="play-video.png" /></a
      >
    </div>

    <div class="otherPlaybacks">
      <h1>更多回放</h1>
      <div class="listOfPlaybacks">
        <a
          href="https://www.youtube.com/watch?v=KvR7RDmddIo"
          class="playbacks"
          target="_blank">沼澤人00-普通的車卡回</a
        >
        <a
          href="https://www.youtube.com/watch?v=hT4TulaozrA"
          class="playbacks"
          target="_blank">沼澤人01-骰運大起大落</a
        >
        <a
          href="https://www.youtube.com/watch?v=5npuf3LZx2g"
          class="playbacks"
          target="_blank">沼澤人02-怪物</a
        >
      </div>
    </div>
  </div>

  <div class="bottom">@心結廚房2025</div>
</Layout>
