<div class="otherChar">
  <img class="aboutUsMore" src="/aboutUsBlk-eng.png" />
  <div class="aboutUsMenu">
    <div class="charMenu">
      <img class="charSelect" id="MaInNoBtn" src="/MaInNo-default-eng.png" />
      <img class="charSelect" id="grassBtn" src="/grass-default-eng.png" />
      <img class="charSelect" id="dobirdBtn" src="/dobird-default-eng.png" />
      <img class="charSelect" id="honeyBtn" src="/honey-default-eng.png" />
      <img class="charSelect" id="miyarBtn" src="/miyar-default-eng.png" />
      <img class="charSelect" id="zeroOneBtn" src="/zeroOne-default-eng.png" />
      <img class="charSelect" id="karlosBtn" src="/karlos-default-eng.png" />
      <img class="charSelect" id="skyeBtn" src="/skye-default-eng.png" />
      <img class="charSelect" id="jkiolBtn" src="/jkiol-default-eng.png" />
      <img class="charSelect" id="lucyBtn" src="/lucy-default-eng.png" />
    </div>
  </div>
</div>
