<div class="otherChar">
  <img class="aboutUsMore" src="/aboutUsMore.png" />
  <div class="aboutUsMenu">
    <div class="charMenu">
      <img class="charSelect" id="MaInNoBtn" src="/MaInNo-chosen.png" />
      <img class="charSelect" id="grassBtn" src="/grass-default.png" />
      <img class="charSelect" id="dobirdBtn" src="/dobird-default.png" />
      <img class="charSelect" id="honeyBtn" src="/honey-default.png" />
      <img class="charSelect" id="zeroOneBtn" src="/zeroOne-default.png" />
      <img class="charSelect" id="karlosBtn" src="/karlos-default.png" />
      <img class="charSelect" id="skyeBtn" src="/skye-default.png" />
      <img class="charSelect" id="jkiolBtn" src="/jkiol-default.png" />
    </div>
  </div>
</div>
