---

---

<div class="bottom">@ Knotchen 2025</div>

<style>
  .bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-top: 10%;
    box-sizing: border-box;       
    justify-content: center;   
    text-align: center;
    opacity: 0;
  }
</style>
