---

---

<div class="bottom">@心結廚房2025</div>

<style>
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;             
    justify-content: center;   
    text-align: center;   
  }
</style>
